{% load staticfiles %}
<style>
</style>
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-theme.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-theme.min.css' %}"/>
<script src="{% static 'jquery-3.3.1.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../../../AppData/Local/Temp/Rar$DRa0.861/jQueryLeftNav/js/jquery.js"></script>
</head>
<body>
<script src="jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        alert("编号已经存在");
        history.back();
    });
</script>

</body>
</html>