{% load staticfiles %}
<style>

</style>
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="{% static 'polls/jquery-3.3.1.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: #000000">
<div style="text-align: center;margin: auto;margin-top:8%"><h2 style="color: #FFFFFF">后台查询系统登录</h2></div>

<div style="border-bottom-left-radius: 3px;border-color:#5e5e5e;margin: auto;width: 500px;background: #ffffff;margin-top:2%">
    <div class="fro2ma" id="for">
        <form class="form-horizontal" action="{% url 'adc:enlogin' %}" method="post" role="form">

            <div style="width: 250px;float: left;padding: 10px">
                用户名
                <input type="text" name="username" class="form-control" id="username" placeholder="请输入名字">

                密码
                <input type="password" name="password" class="form-control" id="password" placeholder="请输入姓">
            </div>
            <div style="float: right;margin-top: 5%">
                <img  src="{% static 'wen.png' %}">
            </div>
            {% csrf_token %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>