{% extends "polls/admin-index.html" %}
{% block js %}


    <script>

        var valus;
        $(function () {
            $(":radio").click(function () {
                valus = $(this).val();
                page = 1;
                $("#cid").text("当前是第" + page + "页");
                Loac();
            });
        });
        var page = 1;
        var toall = 0;

        function back() {
            window.location.href = "Cable"
        }

        $(document).ready(function () {
            $("#prev").click(function () {
                if (page > 1) {
                    page = page - 1;
                    Load(); //加载数据
                    $("#cid").text("当前是第" + page + "页");
                }


            });
            //给下一页加点击事件
            $("#next").click(function () {
                if (page < toall) {
                    page = page + 1;
                    Load(); //加载数据
                    $("#cid").text("当前是第" + page + "页");

                }
            });
        });


        function Loac() {
            var vall = $("#cad").text();
            $.ajax({
                url: "Queryfirbe/",
                data: {page: page, cab: vall, state: valus},
                success: function (data) {
                    $('#tabb').empty();

                    jQuery.each(data, function (i, item) {
                        if (item.STATE == null) {
                            $("#toall").text("总共" + "0" + "页");
                            toall = 0;
                            $('#tabb').append("  <tr class=\"warning\">\n" +
                                "                <th width=\"10%\"><a href='Show?id=" + "" + "'>" + "" + "</a></th>\n" +
                                "                <th width=\"10%\">" + "" + "</th>\n" +
                                "            </tr>\n"
                            )
                        }
                        else {
                            if (i != 0) {
                                $('#tabb').append("  <tr class=\"warning\">\n" +
                                    "                <th width=\"10%\"><a href='Show?id=" + item.FibreName + "'>" + item.FibreName + "</a></th>\n" +
                                    "                <th width=\"10%\">" + item.STATE + "</th>\n" +
                                    "            </tr>\n"
                                )

                            }
                            else {
                                $("#toall").text("总共" + item.map + "页");
                                toall = item.map;
                                $('#tabb').append("  <tr class=\"warning\">\n" +
                                    "                <th width=\"10%\"><a href='Show?id=" + item.FibreName + "'>" + item.FibreName + "</a></th>\n" +
                                    "                <th width=\"10%\">" + item.STATE + "</th>\n" +
                                    "            </tr>\n"
                                )

                            }
                        }


                    });

                }
            })
        }


        function Load() {

            var vall = $("#cad").text();
            $.ajax({
                url: "Queryfirbe/",
                data: {page: page, cab: vall, state: valus},
                success: function (data) {
                    $('#tabb').empty();
                    jQuery.each(data, function (i, item) {
                        if (item.FibreName != "未找到") {
                            if (i != 0) {
                                $('#tabb').append("  <tr class=\"warning\">\n" +
                                    "                <th width=\"10%\"><a href='Show?id=" + item.FibreName + "'>" + item.FibreName + "</a></th>\n" +
                                    "                <th width=\"10%\">" + item.STATE + "</th>\n" +
                                    "            </tr>\n"
                                )
                            }
                            else {
                                if (item.STATE) {

                                }
                                else {
                                    $('#tabb').append("  <tr class=\"warning\">\n" +
                                        "                <th width=\"10%\"><a href='Show?id=" + item.FibreName + "'>" + item.FibreName + "</a></th>\n" +
                                        "                <th width=\"10%\">" + item.STATE + "</th>\n" +
                                        "            </tr>\n"
                                    )
                                }

                            }

                        }
                        else {
                            $('#tabb').append("  <tr class=\"warning\">\n" +
                                "                <th width=\"10%\">没有</th>\n" +
                                "                <th width=\"10%\"></th>\n" +
                                "            </tr>\n")
                        }


                    });


                }
            })


        }

        gvChartInit();

        $(document).ready(function () {
            Loac();
            $('#myTable5').gvChart({
                chartType: 'PieChart',
                gvSettings: {
                    vAxis: {title: 'No of players'},
                    hAxis: {title: 'Month'},
                    width: 480,
                    height: 350
                }
            });
        });
    </script>
{% endblock %}
{% block main %}

    <div class="navbar-nav" style="margin-left: 7px;width: 1000px"><input type="button" name="back"
                                                                          class="btn btn-default btn-sm"
                                                                          value="返回"
                                                                          onclick="back()"/></div>
    {% for choice in name %}
        <table id="xs" style="margin-left: 7px;width: 1000px" class="table table-bordered table-hover">

            <thead>
            <tr id="s">
                <th>光缆编号</th>
                <th>供应商</th>
                <th>A端</th>
                <th>B端</th>
                <th>完成时间</th>
                <th>距离</th>
                <th>负责人</th>
                <th>备份负责人</th>

            </tr>
            </thead>
            <tbody id="csa">

            <tr>
                <th id="cad" width="10%">{{ choice.Cablename }}</th>
                <th width="20%">{{ choice.Sup }}</th>
                <th width="20%">{{ choice.Apoint }}</th>
                <th width="10%">{{ choice.Bpoint }}</th>
                <th width="10%">{{ choice.FinshDate }}</th>
                <th width="10%">{{ choice.Distance }}</th>
                <th width="10%">{{ choice.MainMan }}</th>
                <th width="10%">{{ choice.BkMan }}</th>


                </th>
            </tr>
            </tbody>
        </table>
        <table id="xD" style="margin-left: 7px;width: 1000px" class="table table-bordered table-hover">

            <thead>
            <tr id="s">

                <th>芯数</th>
                <th>合同编号</th>
                <th>商务对接人</th>
                <th>维护人</th>
                <th>光纤数</th>
            </tr>
            </thead>
            <tbody id="cas">

            <tr>
                <th width="10%">{{ choice.Corenumber }}</th>
                <th width="10%">{{ choice.Contractnumber }}</th>
                <th width="10%">{{ choice.BusinessMan }}</th>
                <th width="10%">{{ choice.ProtectMan }}</th>
                <th width="10%">{{ num }}</th>

                </th>
            </tr>
            </tbody>
        </table>


    {% endfor %}
    <div style="width: 1000px">
        <div style="width:44%;float:left;margin-left: 8px">
            <form action="" method="" style="margin-left: 1px">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="已使用"> 已使用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="未分配"> 未分配
                </label><label class="radio-inline">
                <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="故障"> 故障
            </label>
            </form>
            <table id="xD" style="margin-left: 1px;width: 360px" class="table table-bordered table-hover">

                <thead>

                <tr id="s">

                    <th width="20%">光纤编号</th>
                    <th width="6%">状态</th>
                </tr>


                </thead>
                <tbody id="tabb">


                </tbody>
            </table>
            <span class="step-links">
           <input id="prev" type="button" class="btn btn-default btn-sm" value="上一页">
        <span class="current" id="cid">
            当前第一页
        </span>
          <input id="next" class=" btn btn-default btn-sm" type="button" value="下一页">
    <span class="cc" id="toall">
            总共
        </span>
    </span>
        </div>
        <div style="width:auto;float:left">


            <table id='myTable5'>
                <caption>光缆状态</caption>
                <thead>
                <tr>
                    <th></th>
                    <th>已使用</th>
                    <th>未分配</th>
                    <th>故障</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ num }}</th>
                    <td>{{ use }}</td>
                    <td>{{ no }}</td>
                    <td>{{ error }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}